# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# docker volume
data

wallet_run.sh
TODOs.md

tmp


_token

lib

.history